
.my-main {
    max-width: 600px;
}

.my-status-line {
    font-size: 150%;
}

.my-status-line .badge {
    margin-bottom: 0.5rem;
    vertical-align: middle;
}

/* Jitse some overrides for the checkboxes */
.checkbox label {
    width: 140px;
}
.checkbox input {
    width: 40px;
}
